<p>
  <table border="1" id="tblemployee">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Role</th>
    </tr>
    <tr>
      <td><%=@emp.first_name %></td>
      <td><%=@emp.last_name %></td>
      <td><%=@emp.role %></td>
    </tr>
  </table>
</p>
<h2>Time</h2>
<p>
  <table border="1" id="tblclock">
    <tr>
      <th>Clock In</th>
      <th>Clock Out</th>
      <th>Time Worked</th>
    </tr>
    <% @emp.clocks.each do |clock| %>
    <tr>
      <td><%=clock.clock_in %></td>
      <td><%=clock.clock_out %></td>
      <td><%=clock.work_time %></td>
    </tr>
    <% end %>
  </table>
</p>

<%= link_to 'Home', "/" %>